@import "flowbite";
@tailwind base;
@tailwind components;
@tailwind utilities;

.rtl {
    direction: rtl;
    text-align: right;
}

.ltr {
    direction: ltr;
    text-align: left;
}
em, i {
    font-style: italic !important;
}
html {
    scroll-behavior: smooth;
}
.scroll-to-top-btn-tooltip {
    color: black !important;
}
#scroll-to-top-button {
    background-color: white !important;
    color: black !important;
}

