<section>
        <script src="https://giscus.app/client.js"
                data-repo="judaicadh/earlymodernworkshop"
                data-repo-id="R_kgDONgdqgQ"
                data-category="Website Comments"
                data-category-id="DIC_kwDONgdqgc4CllS2"
                data-mapping="title"
                data-strict="0"
                data-reactions-enabled="1"
                data-emit-metadata="0"
                data-input-position="bottom"
                data-theme="preferred_color_scheme"
                data-lang="en"
                crossorigin="anonymous"
                async>
        </script>
</section>