---

import JudaicaDHLogo from '../assets/Judaica Digital Humanities Logo 2020_RGB.png'

---
<footer class="w-full bg-white pt-8 px-8 border-t-2 border-slate-200">
    <div class="flex flex-row flex-wrap items-center justify-center gap-y-6 gap-x-12 bg-white text-center md:justify-between">
        <a href="https://judaicadhpenn.org/"
           class="flex items-center space-x-3 rtl:space-x-reverse"
           aria-label="Judaica Digital Humanities at Penn">
            <img
                    src={JudaicaDHLogo.src}
                    class="h-14 w-auto"
                    alt="Judaica Digital Humanities Logo"
                    loading="lazy"
                    decoding="async">
        </a>
        <ul class="flex flex-wrap items-center gap-y-2 gap-x-8">
            <li>
                <a
                        href="/earlymodernworkshop"
                        class="text-slate-700 hover:text-slate-500 focus:text-slate-500 text-sm"
                >
                    Home
                </a>
            </li>
            <li>
                <a
                        href="/earlymodernworkshop/about"
                        class="text-slate-700 hover:text-slate-500 focus:text-slate-500 text-sm"
                >
                    About
                </a>
            </li>
            <li>
                <a
                        href="/earlymodernworkshop/resources"
                        class="text-slate-700 hover:text-slate-500 focus:text-slate-500 text-sm"
                >
                    Resources
                </a>
            </li>
            <li>
                <a
                        href="#"
                        class="text-slate-700 hover:text-slate-500 hover:underline focus:text-slate-500 text-sm"
                >
                    Contact Us
                </a>
            </li>
        </ul>
    </div>

</footer>