---
import Search from "astro-pagefind/components/Search";
---
<div class="relative">
    <Search
            id="search"
            className="pagefind-ui"
            uiOptions={{
                showImages: false,
            }}
    />
</div>