---
import Footer from "../components/Footer.astro";
import Head from "../components/Head.astro";
import Nav from "../components/Nav.astro";
import "astro-breadcrumbs/breadcrumbs.css";
import "../styles/global.css";

---

<!doctype html>
<html lang="en">
<Head/>
<script is:inline type="application/json" id="toc-extras">
	{JSON.stringify(extraHeadings)}
</script>
<body class="font-serif">
<!-- Navigation Bar -->
<Nav />

<!-- Breadcrumb Navigation -->
<div class="container mx-auto px-4">
	<!-- Add breadcrumbs here if needed -->
</div>

<!-- Main Content -->
<main>
	<slot />
</main>

<!-- Footer Section -->
<Footer />
</body>
</html>

<style>
	html,
	body {
		margin: 0;
		padding: 0;
		width: 100%;
		height: 100%;
	}
</style>