---
import Footer from "../components/Footer.astro";
import Nav from "../components/Nav.astro";
import "astro-breadcrumbs/breadcrumbs.css";
import "../styles/global.css";

---

<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta name="generator" content={Astro.generator} />
	<meta name="description" content="Early Modern Workshop: Resources in Jewish History" />
	<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Merriweather&display=swap">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto&display=swap">
	<link href="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.css" rel="stylesheet" />
	<link rel="stylesheet" href="/styles/global.css" />
	<link href="/pagefind/pagefind-ui.css" rel="stylesheet" />
	<script src="/pagefind/pagefind-ui.js" defer></script>
	<script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.js" defer></script>
</head>
<body class="font-serif">
<!-- Navigation Bar -->
<Nav />

<!-- Breadcrumb Navigation -->
<div class="container mx-auto px-4">
	<!-- Add breadcrumbs here if needed -->
</div>

<!-- Main Content -->
<main>
	<slot />
</main>

<!-- Footer Section -->
<Footer />
</body>
</html>

<style>
	html,
	body {
		margin: 0;
		padding: 0;
		width: 100%;
		height: 100%;
	}
</style>